In [13]:
a = "Hello" # Assigning the string "Hello" to the variable 'a'
print(a) # Printing the value of the variable 'a'

Hello

In [14]:
a = "Hello, World!" #Assigning the string "Hello, World!" to the variable 'a'
print(a[1]) #Printing the character at index 1 in the string 'a' (e) 
b = "Hello, World!" # Assigning the string "Hello, World!" to the variable 'b'
print(b[2:5]) # Printing the substring of 'b' from index 2 to 4 (5 is exclusive) (llo)

e
llo

In [3]:
a = "Hello, World!" #Assigning the string "Hello, World!" to the variable 'a'
print(len(a)) #Printing the length of variable 'a'

13

In [4]:
print(a.upper())  #Printing the uppercase version of the string 'a'

HELLO, WORLD!

In [5]:
print(a.lower()) #Printing the lowercase version of the string 'a'

hello, world!

In [6]:
print(a.replace("H", "J"))  # Printing the string 'a' with the replacement of "H" by "J"

Jello, World!

In [15]:
a = "Hello" # Assigning the string "Hello" to the variable 'a'
b = "World" # Assigning the string "World" to the variable 'b'
c = a + " " + b  #Concatenating the strings 'a', a space, and 'b' and assigning it to the variable 'c'
print(c)  #Printing the concatenated string 'c' (Hello Worl

Hello World

In [9]:
my_string = 'One two three four'
word_list = my_string.split()
word_list

['One', 'two', 'three', 'four']

In [16]:
my_string = '1/2/3/4/5' # Assigning the string 'One two three four' to the variable 'my_string'
number_list = my_string.split('/') # Splitting the string into a list of words using the default space delimiter
number_list #Displaying the resulting list

['1', '2', '3', '4', '5']

In [17]:
str = 'peach raspberry strawberry vanilla' # Assigning the string 'peach raspberry strawberry vanilla' to the variable 'str'
tokens = str.split() # Splitting the string into a list of words using the default space 
tokens # Displaying the resulting list

['peach', 'raspberry', 'strawberry', 'vanilla']

In [18]:
my_address = 'www.example.com' # Assigning the string 'www.example.com' to the variable 'my_address'
tokens = my_address.split('.') # Splitting the string into a list using the dot (.) as the delimiter
tokens # Displaying the resulting list

['www', 'example', 'com']